[Desktop Entry]
Type=Application
Name=Graptoς
Comment=Small C/GTK text editor with YAML syntax highlighting
Exec=graptos %F
Icon=accessories-text-editor
Terminal=false
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/x-c;text/x-python;application/x-yaml;text/yaml;
